/Other Code/geckodriver.log
/venv/
/.idea/
/.vscode/
/Python Advanced Module/Python OOP Course/11. Exam/.idea/
/node_modules/
package-lock.json
package.json
/Other Code/Google App Scripts/
/JavaScript Advanced Module/JavaScript Applications Course/06. Routing/Exercises/Team-Manager-Skeleton/node_modules/
/JavaScript Advanced Module/JavaScript Applications Course/07. Workshop - Single Page Applications/Movies/node_modules/
