/Other Code/geckodriver.log
/venv/
/.idea/
/.vscode/
Python Advanced Module/Python OOP Course/11. Exam/.idea/11. Exam.iml
Python Advanced Module/Python OOP Course/11. Exam/.idea/modules.xml
Python Advanced Module/Python OOP Course/11. Exam/.idea/vcs.xml
Python Advanced Module/Python OOP Course/11. Exam/.idea/workspace.xml
Python Advanced Module/Python OOP Course/11. Exam/.idea/inspectionProfiles/profiles_settings.xml
