html {
    font-size: 12px;
    background-color: rgb(238, 238, 238);
}

.site-wrapper {
    padding: 3em;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.site-menu-toggle {
    display: none;
}

.site-menu-toggle + p + .site-menu-label + nav {
    display: none;
}

.site-menu-toggle:checked + p + .site-menu-label + nav {
    display: block;
}

.site-menu-toggle:checked + p + .site-menu-label:before {
    content: "X ";
    font-weight: bold;
}

.site-menu-label {
    font-size: 1.5em;
    text-align: center;
    flex: 1 0 100%;
    padding-bottom: 1.5em;
}

.site-header {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-header p {
    flex: 1 0 100%;
    font-size: 3em;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.site-navigation {
    flex: 1 0 100%;
}

.site-navigation > ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-flow: wrap column;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    align-content: space-between;
    padding: 1em;
}

.site-navigation li {
    flex: 1 0 100%;
    width: 100%;
    position: relative;
}

.site-main {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-main h1, h2, p, blockquote {
    flex: 1 0 100%;
}

.site-main h1, h2 {
    text-align: center;
}

.first-img, .second-img {
    display: block;
    padding: 0.5em;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    box-shadow: 0 0 0.3em 0;
    margin: 1em;
    flex: 0 1;
}

.first-img img .second-img img {
    width: auto;
    height: auto;
}

.site-aside {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
}

@media ( min-width: 601px ) and ( max-width: 900px ) {
    html {
        font-size: 13px;
    }

    .site-wrapper {
        flex-wrap: wrap;
    }

    .site-header p {
        text-align: left;
    }

    .site-main {
        justify-content: flex-start;
    }

    .site-main h1, h2 {
        text-align: left;
}

    .first-img, .second-img {
        display: block;
        flex: 0 1 auto;
        margin: 0 1em 1.5em 1em;
    }

    .first-img + p, .second-img + p {
        flex: 1 1 55%;
    }

    h1 {
        order: -3;
    }

    .first-img {
        order: -1;
    }
    .first-img + p {
        order: -2;
    }

    blockquote {
        flex: 0 0 45%;
    }
}

@media ( min-width: 901px ) and ( max-width: 1200px ) {
    html {
        font-size: 14px;
        max-width: 64em;
    }

    .site-wrapper {
        flex-wrap: wrap;
    }

    .site-header {
        align-items: center;
        border-bottom: 3px solid black;
    }

    .site-menu-toggle + p + .site-menu-label + nav {
        display: block;
    }

    .site-header p {
        text-align: left;
    }

    .site-header p, .site-navigation {
        flex: 1 1 40%;
    }

    .site-navigation > ul {
        list-style: none;
        display: flex;
        flex-flow: nowrap row;
        background-color: white;
        border-top: 0 solid black;
        border-bottom: 0 solid black;
        align-content: space-between;
        padding: 0.5em;
    }

    .site-navigation li {
        flex: 1 1 auto;
        position: relative;
    }

    .site-header p, .navigation {
        flex: 1 1 35%;
    }

    .site-menu-label {
        display: none;
    }

    .site-main {
        flex: 1 1 70%;
        justify-content: space-between;
    }

    .site-main h1, h2 {
        text-align: left;
    }

    .site-aside {
        flex: 1 1 25%;
    }

    .site-aside nav {
        padding-left: 2em;
    }

    .first-img, .second-img {
        display: block;
        flex: 0 1 auto;
        margin: 0 0 1.5em 0;
    }

    h1 {
        order: -3;
    }

    .first-img {
        order: -1;
    }
    .first-img + p {
        order: -2;
    }

    .first-img + p, .second-img + p {
        flex: 0 1 60%;
    }

    blockquote {
        flex: 0 0 45%;
    }
}

@media ( min-width: 1201px ) {
    html {
        font-size: 14px;
        max-width: 74em;
    }

    .site-wrapper {
        flex-wrap: wrap;
    }

    .site-header {
        align-items: center;
        border-bottom: 3px solid black;
    }

    .site-menu-toggle + p + .site-menu-label + nav {
        display: block;
    }

    .site-header p {
        text-align: left;
    }

    .site-header p, .site-navigation {
        flex: 1 1 30%;
    }

    .site-navigation > ul {
        list-style: none;
        display: flex;
        flex-flow: nowrap row;
        background-color: white;
        border-top: 0 solid black;
        border-bottom: 0 solid black;
        align-content: space-between;
        padding: 0.5em;
    }

    .site-navigation li {
        flex: 1 1 auto;
        position: relative;
    }

    .site-header p, .navigation {
        flex: 1 1 35%;
    }

    .site-menu-label {
        display: none;
    }

    .site-main {
        flex: 1 1 70%;
        justify-content: space-between;
    }

    .site-main h1, h2 {
        text-align: left;
    }

    .site-aside {
        flex: 1 1 25%;
    }

    .site-aside nav {
        padding-left: 2em;
    }

    .first-img, .second-img {
        display: block;
        flex: 0 1 auto;
        margin: 0 0 1.5em 0;
    }

    h1 {
        order: -3;
    }

    .first-img {
        order: -1;
    }
    .first-img + p {
        order: -2;
    }

    .first-img + p, .second-img + p {
        flex: 0 1 65%;
    }

    blockquote {
        flex: 0 0 45%;
    }
}

img {
    display: block;
}