.site-navigation a {
    display: block;
    border-radius: 0.5em;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1em;
    font-weight: bold;
    margin: 1%;
    text-align: center;
}

.site-navigation a:hover {
    background-color: green;
    color: white;
}

.dropdown-level1, .dropdown-level2 {
    padding: 1%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    z-index: 10;
    list-style: none;
}

.dropdown-level1 {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: white;
}

.dropdown-level2 {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background-color: white;
    text-wrap: none;
}

.dropdown-level1 a {
    background-color: rgb(65, 65, 65);
    color: white;
}

.dropdown-level2 a {
    background-color: rgb(100, 100, 100);
    color: white;
}

li:hover > ul.dropdown-level1, li:hover > ul.dropdown-level2 {
    display: block;
}

.site-aside ul {
    list-style: square;
}

.site-aside a {
    color: green;
    text-decoration: none;
}