html {
    font: 16px/1.5 Verdana, sans-serif;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 65vw;
    margin: auto;
    height: 60vh;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section.week {
    flex: 1 1 75%;

}

section.notes {
    flex-direction: column;
    flex: 1 1 25%;
}

span {
    border: 1px solid black;
    display: block;
    text-align: center;
    padding-top: 2%;
}

.week :nth-child(1) {
    flex: 1 1 100%;
}

.week :nth-child(n+2):nth-child(-n+6) {
    flex: 1 1 20%;
}

.week :nth-child(7) {
    flex: 1 1 100%;
}

.week :nth-child(n+8):nth-child(-n+9) {
    flex: 1 1 50%;
}

.notes span {
    flex: 1 1 50%;
}