body {
    min-height: 100vh;
}

.site-wrapper {
    display: flex;
    flex-flow: nowrap column;
    position: relative;
}

.site-header-menu-toggle {
    display: none;
}

.site-header-desktop {
    display: none;
}

.site-header-mobile {
    flex: 1 0 100%;
    display: flex;
    flex-flow: nowrap column;
    padding: 0.25em 0.5em;
}

.site-header-mobile i {
    padding: 0.5em;
}

.site-header-mobile-title {
    text-align: center;
}

.site-header-mobile-navigation ul {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
}

.site-header-mobile-navigation ul li i {
    font-size: 1.5em;
}

.site-main {
    flex: 1 0 100%;
    display: flex;
    flex-flow: nowrap column;
    padding: 1em;
}

.site-main h3 {
    padding-bottom: 0.1rem;
}

.site-main article time + p {
    padding-top: 1em;
}

.site-aside {
    flex: 1 0 100%;
    padding: 1em;
}

.site-footer {
    flex: 1 0 100%;
    display: flex;
    flex-flow: nowrap column;
    align-content: flex-start;
    padding: 1em;
}

.site-footer, .site-footer i {
    padding: 0.5em;
}

.site-footer ul {
    flex: 0 1 100%;
    display: flex;
    flex-flow: nowrap row;
    list-style: none;
    justify-content: space-between;
    font-size: 2.5em;
    padding: 0;
    align-items: center;
}

.site-footer p:last-child {
    padding-bottom: 0.5em;
}

@media only screen and ( min-width: 480px ) and ( orientation: landscape ) {


}

@media only screen and ( min-width: 768px ) and ( orientation: portrait ) {

}


@media only screen and ( min-width: 992px ) and ( orientation: landscape ) {

}

@media only screen and ( min-width: 1200px ) {

}

@media only screen and ( min-width: 2560px ) {

}

@media speech {
    
}

@media only screen and ( scripting: none )  {
    
}